<body>
    {% extends "base.html" %}
    {% block title %}Funcionário{% endblock %}
    {% block content %}

    {% set id = result.id_funcionario if result else '0' %}
    {% set nome = result.nome if result %}
    {% set matricula = result.matricula if result else '' %}
    {% set cpf = result.cpf if result else '' %}
    {% set telefone = result.telefone if result else '' %}
    {% set grupo = result.grupo if result else '' %}
    {% set senha = result.senha if result else '' %}


    <div class="container col-lg-4 col-md-6 col-sm-8 col-10 mt-2">
        <h2 class="titulo">{{ 'Editar funcionário' if result else 'Cadastrar funcionário' }}</h1>

            <form name="{{ 'formEditar' if result else 'formAdicionar' }}"
                id="{{ 'formEditar' if result else 'formAdicionar' }}" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="id" class="form-label">Código</label>
                    <input type="text" class="form-control" name="id" id="id" value="{{id}}" placeholder="" readonly>
                </div>

                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="{{nome}}"
                        placeholder="Digite o nome do funcionário" minlength="6" maxlength="100" required>
                </div>

                <div class="mb-3">
                    <label for="matricula" class="form-label">Matrícula</label>
                    <input type="text" class="form-control" id="matricula" name="matricula" value="{{matricula}}"
                        placeholder="Digite a matrícula" maxlength="15" required>
                </div>

                <div class="mb-3">
                    <label for="cpf" class="form-label">CPF</label>
                    <input type="text" oninput="mascaraCPF(this)" class="form-control" id="cpf" name="cpf"
                        value="{{cpf}}" placeholder="Digite o CPF" maxlength="14" required>
                </div>

                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone </label>
                    <input type="text" class="form-control" id="telefone" name="telefone" value="{{telefone}}"
                        placeholder="Digite o telefone" maxlength="15" required>
                </div>

                <div class="mb-3">
                    <label for="grupo" class="form-label">Grupo</label>
                    <select class="form-select" name="grupo" id="grupo" aria-label="Default select example">
                        <option selected>Selecione o grupo</option>
                        {% for option, value in {'Atendente': 0, 'Caixa': 1, 'Adm': 2}.items() %}
                        <option value="{{ value }}" {{ 'selected' if grupo==value else '' }}>{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3" class="form-label">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="senha" id="senha" value="{{senha}}"
                        placeholder="Digite a senha" required>
                </div>
                <div class="mb-3" class="form-label">
                    <label for="resenha" class="form-label">Confirmar senhar</label>
                    <input type="password" class="form-control" name="resenha" id="resenha" value="{{senha}}"
                        placeholder="Digite a senha novamente" required>
                </div>

                <button type="submit" name="salvaUsuarioDB" id="salvaUsuarioDB"
                    class="btn btn-primary">Cadastrar</button>

            </form>
    </div>
    {% endblock %}

    {% block js %}
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>

    <script>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço
        // JS-Ajax para adicionar
        $('#formAdicionar').submit(function (e) {
            e.preventDefault(); // parar o envio para poder fazer manualmente
            var form = $('#formAdicionar')[0]; // captura o form
            var data = new FormData(form); // cria o FormData {Object}
            $.ajax({
                type: "POST", enctype: 'multipart/form-data', url: "{{url_for('funcionario.insert')}}", data: data,
                processData: false, // impedir que o jQuery transforme a "data" em querystring
                contentType: false, // desabilitar o cabeçalho "Content-Type"
                cache: false, // desabilitar o "cache"
                timeout: 600000, // definir um tempo limite (opcional)
                // manipular o retorno da requisição
                success: function (data) {
                    if (!data.erro) {
                        Swal.fire({
                            text: 'Funcionário cadastrado com sucesso!',
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33', confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.replace($SCRIPT_ROOT + "{{ url_for('funcionario.formListaFuncionario') }}");
                            }
                        });
                    }
                    else {
                        Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
                    }
                },
                // manipular erros da requisição
                error: function (e) {
                    console.log(e);
                }
            }) // fim execução ajax
        }) // fim função evento submit

        // JS-Ajax para editar
        $('#formEditar').submit(function (e) {
            e.preventDefault(); // parar o envio para poder fazer manualmente
            var form = $('#formEditar')[0]; // captura o form
            var data = new FormData(form); // cria o FormData {Object}
            // caso queira adicionar campos extras ao FormData
            // data.append("customfield", "Este é um campo extra para teste");
            $.ajax({
                type: "POST", enctype: 'multipart/form-data', url: "{{url_for('funcionario.edit')}}", data: data,
                processData: false, // impedir que o jQuery tranforma a "data" em querystring
                contentType: false, // desabilitar o cabeçalho "Content-Type"
                cache: false, // desabilitar o "cache"
                timeout: 600000, // definir um tempo limite (opcional)
                // manipular o retorno da requisição
                success: function (data) {
                    if (!data.erro) {
                        Swal.fire({
                            text: 'Funcionário editado com sucesso!',
                            icon: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33', confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.replace($SCRIPT_ROOT + "{{ url_for('funcionario.formListaFuncionario') }}");
                            }
                        })
                    }
                    else {
                        Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
                    }
                },
                // manipular erros da requisição
                error: function (e) {
                    console.log(e);
                }
            })
        })
    </script>

    <script>
        function mascaraCPF(i) {
            var v = i.value;

            if (isNaN(v[v.length - 1])) { // impede entrar outro caractere que não seja número
                i.value = v.substring(0, v.length - 1);
                return;
            }

            i.setAttribute("maxlength", "14");
            if (v.length == 3 || v.length == 7) i.value += ".";
            if (v.length == 11) i.value += "-";
        }
    </script>

    {% endblock %}




</body>