<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Funcionários{% endblock %}
    {% block content %}
    <div class="container">     
        <h3 class="mt-2">Funcionários</h3>
        <div class="py-2">
            <form action="{{ url_for('funcionario.formFuncionario') }}" method="GET"> 
            <button class="btn btn-primary" type="submit" name="formNovo">Cadastrar Funcionário</button>
            </form>
        </div>
        
        {% if result %}
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Matricula</th>
                  <th scope="col">CPF</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">Grupo</th>
                  <th scope="col">Senha</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for row in result %}
                <tr>
                  <th scope="row">{{row['id_funcionario']}}</th>
                  <td colspan="1">{{row['nome']}}</td>
                  <td>{{row['matricula']}}</td>
                  <td>{{row['cpf']}}</td>
                  <td>{{row['telefone']}}</td>
                  <td>{{row['grupo']}}</td>
                  <td>{{row['senha'][:10]}}</td>
                  <td><i class="fas fa-edit"></i></td>
                  <td><i class="fas fa-trash"></i></td>
                </tr>
                {%endfor%}
              </tbody>
          </table>
        {% else %}
           <p>Não há registros disponíveis.</p>
        {% endif %}
    </div>

    {% endblock %}
</body>
</html>